<!DOCTYPE html>
<html>
<head hidden=true>
	{% if current_user.is_authenticated %}
	<script type="text/javascript" src="/static/counter.js"></script>
	<data id="pack_time" hidden="true">{{get_pack_time()}}</data>
	{% endif %}
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	{% block head %}
	<title>Cat Cards</title>
	{% endblock %}
</head>
<body>
	<div class="navbar">
		<a href="/"><div>Home</div></a>
		{% if current_user.is_authenticated %}
		<a href="/logout"><div>Logout</div></a>
		<a href="/gatcha"><div>Packs (<span id="packs">{{current_user.pack_count}}</span>)</div></a>
		{% else %}
		<a href="/login"><div>Login</div></a>
		{% endif %}
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>