{% extends "base.html" %}
{% block content %}
    <div class="border">
		<div class="container">
			{% for name, cat in data %}
			<div class="card">
				<h1 class="{{cat.type}}">{{name}}</h1>
				<div>
					<span>Strength: {{cat.strength}}</span><br>
					<span>Health: {{cat.health}}</span><br>
					<span>Type: <span class="{{cat.type}}">{{cat.type}}</span></span><br><br>
					<p>{{cat.info}}</p>
				</div>
				<img src="static/star{{cat.rarity+1}}.svg">
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}